<!-- Site url = http://hubertosifo.azurewebsites.net/
  Author: Hubert Osifo
  Filename: header.ejs - header 
  Description - Header for content of the page
  Script link - http://w3schools.com/lib/w3.css
  https://fonts.googleapis.com/css?family=Montserrat
  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
  -->

<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
    <i class="fa fa-instagram w3-hover-text-purple"></i>
    <i class="fa fa-pinterest-p w3-hover-text-red"></i>
    <i class="fa fa-twitter w3-hover-text-light-blue"></i>
    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
    <p class="w3-medium">Powered by <a href="http://bramsstudio.shivtr.com" target="_blank" class="w3-hover-text-green">bramsstudio</a></p>
  </footer>